.headre, .footere{
    width: stretch;
    position: fixed;        
    padding: 10px 0;
    color: #fff;
    text-align: -webkit-center;
}
.headre{
    top: 150px;
    background: #FFD100;
}
.footere{
    bottom: 0;
    background: #0033A0;
}
.container{
    width: stretch;
    margin: 0; 
}