.headre, .footere{
    width: stretch;
    position: fixed;        
    color: #fff;
    text-align: -webkit-center;
}
.headre{
    top: 0;
    padding: 35px 0;
    background: #FFD100;
}
.footere{
    bottom: 0;
    padding: 35px 50px;
    background: #0033A0;
}
.container{
    width: stretch;
    margin: 0; 
}